/* main css */

*
{
	background-color: black;
	color: #28dd18;
	font-family:courier;
	list-style-type: square;
	font-size: medium;
	border-color: #28dd18;
}

fieldset
{
	border-color: #28dd18;
}

h1
{
	font-size: x-large;
}

button
{
	border: 0.1em solid #28dd18;
	box-shadow: 0.1em 0.1em #999;
	border-style: none none none solid;
	color: #28dd18;
	padding: 0.5em;
	margin-bottom: 0.2em;
	margin: 0.3em;
}

button:hover
{
	background: #646464;
}

button:active
{
	box-shadow: 0.1em 0.1em #666;
}

ul
{
	padding: 0.5em;
}

/* general table related */

table
{
	border-collapse: collapse;
	border: thin solid;
}

tr, td, th
{
	border-bottom: thin solid;
}

th
{
	border-top: thin solid;
}

/* general table related END */

.dir
{
	border-top: 1px solid;
	padding-right: 0.3em;
	border-style: ridge;
}

.content
{
	display: none;
}

figure
{
	position: relative;
	float: right;
	border: thin solid;
	text-align: center;
}

figure img
{
	display: block;
	background: grey;
}

figcaption
{
}

/* for grades. Making use of old classes present in html */

.centered
{
	text-align: center;
}
