div.desc{
	text-align: center;
}

div.overview
{
}

div.overview_img
{
	width: 100%;
	float: left;
	width: 10%;
	padding: 0.5em;
	height: auto;
}

div.overview_img img
{
	width: 10em;
	opacity: 0.8;
	margin: 0.2em;
}

div.overview_img img:hover
{
	transform: scale(1.1);
}

div.footer
{
	position: absolute;
}

.container
{
	float: left;
	position: relative;
	max-width: 100%;
}

.container img
{
	max-width: 100%;
	margin: auto;
}
