div.desc{
	text-align: center;
}

div.overview
{
}

div.overview_img
{
	max-width: 100%;
	float: left;
	border: 1px solid green;
	width: 90%;
	padding: 0.5em;
	height: auto;
	align: center;
}

div.overview_img img
{
	max-width: 100%;
	opacity: 0.8;
}

div.overview_img img:hover
{
	transform: scale(1.1);
}

.container
{
	position: relative;
	max-width: 100%;
}

.container img
{
	max-width: 100%;
	margin: auto;
}

img.expanded_img
{
	position: absolute;
}

div.footer
{
	width: 100%;
}

div.gallery
{
	position: relative;
	overflow: hidden;
	height: auto;
	display: grid;
	grid-template-columns: 33% 33% 33%;
}
