[% INCLUDE header.html %]
<body>
	<p>
	Thread with subject "[% subject %]" created by [% user %] (you)!
	</p>
	<p>
	You'll be redirected to the thread momentarily.
	<meta http-equiv=refresh content="3;url=/forum/view_thread.cgi?thread=[% thread
<body>
[% INCLUDE footer.html %]
