<div class=box>
	<form action=reply.cgi id=reply_form>
		<h3>Replying as [% user %]</h3>
		<div>
			<textarea id=reply name=reply form=reply_form placeholder=''></textarea>
			<input id=thread name=thread type=hidden value=[% thread %]></input>
		</div>
		<input type=submit value=Reply>
	</form>
</div>
