<footer>
  <div class='footer'>
      <hr>
      <p>
      <a href='/' >Home</i></a>
      <a href='/contact.php'>Contact</i></a>
      <a href='https://c.xkcd.com/random/comic' target='_blank'>Random XKCD</i></a>
      <a href='https://github.com/Vokda'>My github</i></a>
      <%= link_to 'CV', '/CV.pdf' %>
      <a href='/?fun_mode=true' >Fun mode</i></a>
      </p>
  </div>
</footer>
