<ul>
  <li>Email: <a href="mailto:daniel@lsjbot.se">daniel@lsjbot.se</a></li>
  <li>GitHub: <a href="https://github.com/Vokda" target="_blank">github.com/Vokda</a></li>
  <li>LinkedIn: <a href="https://se.linkedin.com/pub/daniel-johansson/66/b36/883" target="_blank">linkedin.com/in/daniel-johansson</a></li>
</ul>
