<div>
Data is from <a href='antagning.se'>antagning.se</a>. Right now it's mostly just a copy of the data with little to no modification. In the future I'll clean it up more.
Below are all courses I have taken through out my studies at university.
<div class="courseprogramarea" style="display: block;">
	<div>
		<h2>Högskolan i Skövde</h2>
	</div>
	<div>
		<span>Examina:</span>
		Filosofie kandidatexamen,
		180,0
		högskolepoäng
	</div>
	<div>
		Utfärdandedatum:									<span>2013-08-14</span>
	</div>
	<div>&nbsp;</div>

	<div class="table_wrapper">
		<table>
			<thead>
				<tr class="heading">
					<th class="col1">Kurs</th>
					<th>Kurskod</th>
					<th class="centered">Poäng</th>
					<th class="centered">Betyg</th>
					<th class="centered">Datum</th>
					<th class="centered nowrap">Poänggivande
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class=" haschild">
					<td>Datorgrafik G1N</td>
					<td>DA145G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-11-19</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgifter och redovisningar                       </td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-11-19</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Linjär algebra G1N</td>
					<td>MA142G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-01-11</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Tentamen</td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-01-11</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Programmeringsmetodik G1N</td>
					<td>DA124G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2011-01-31</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Salstentamen                                                </td>
					<td class="first">1001</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2010-10-30</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgift                                           </td>
					<td class="first">2001</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-01-31</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Maskinnära programmering G1F</td>
					<td>DA111G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-06-10</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Inlämningsuppgifter                                         </td>
					<td class="first">1001</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-06-10</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Tentamen                                                    </td>
					<td class="first">2001</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-06-04</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Projekt i spelutveckling - programmering G1N</td>
					<td>DV122G</td>
					<td class="centered">	15,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-06-28</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Hemtentamen                                                 </td>
					<td class="first">1002</td>
					<td class="centered">
						5,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-06-28</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Projektarbete                                               </td>
					<td class="first">2001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-04-06</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgift                                           </td>
					<td class="first">3001</td>
					<td class="centered">
						2,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-04-18</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Mjukvarukomponenter i C++ G1F</td>
					<td>DA327G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-08-31</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Inlämningsuppgift                                           </td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-08-31</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Diskret matematik G1N</td>
					<td>MA161G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-10-28</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Tentamen</td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-10-28</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Avancerad datorgrafik och shaderprogrammering G2F</td>
					<td>DA515G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-12-01</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Tentamen och inlämningsuppgift                              </td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-12-01</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Operativsystem G1F</td>
					<td>DA322G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-12-21</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Tentamen                                                    </td>
					<td class="first">1001</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2011-12-17</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgift                                           </td>
					<td class="first">2001</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-12-21</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Algoritmer och datastrukturer G1F</td>
					<td>DA114G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2012-02-20</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Tentamen                                                    </td>
					<td class="first">1001</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2012-01-14</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Laboration                                                  </td>
					<td class="first">2001</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2012-02-20</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Parallella processer G1F</td>
					<td>DA312G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2012-03-02</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Skriftlig tentamen                                          </td>
					<td class="first">1002</td>
					<td class="centered">
						4,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2012-03-02</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgift 1                                         </td>
					<td class="first">2002</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2011-12-12</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgift 2                                         </td>
					<td class="first">3002</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2012-01-23</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Projekt i spelutveckling II - programmering G1F</td>
					<td>DA414G</td>
					<td class="centered">	15,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2012-06-12</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Individuell uppgift                                         </td>
					<td class="first">1001</td>
					<td class="centered">
						15,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2012-06-12</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Matematisk analys G1N</td>
					<td>MA152G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2012-08-17</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Tentamen</td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2012-08-17</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Databassystem G1N</td>
					<td>IS114G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2012-12-14</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Salstentamen                                                </td>
					<td class="first">1002</td>
					<td class="centered">
						4,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2012-12-14</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Individuell uppgift SQL                                     </td>
					<td class="first">2002</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2012-12-05</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Individuell uppgift XML                                     </td>
					<td class="first">3002</td>
					<td class="centered">
						1,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2012-11-01</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Artificiell intelligens i dataspel G1F</td>
					<td>DA314G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2013-02-05</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgift                                           </td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2013-02-05</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Spelfysik G1F</td>
					<td>DA344G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2013-03-02</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Skriftlig tentamen                                          </td>
					<td class="first">1001</td>
					<td class="centered">
						4,5
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2013-03-02</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Inlämningsuppgift                                           </td>
					<td class="first">2001</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2013-02-06</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Programmering i C# G1F</td>
					<td>DA319G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2013-04-24</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Inlämningsuppgift                                           </td>
					<td class="first">1001</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2013-04-24</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Examensarbete i datalogi med inriktning mot dataspelsutveckling G2E</td>
					<td>DA517G</td>
					<td class="centered">	30,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2013-06-17</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Metod- och litteraturstudie                                 </td>
					<td class="first">1002</td>
					<td class="centered">
						8,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2013-03-26</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Projektarbete                                               </td>
					<td class="first">2002</td>
					<td class="centered">
						14,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2013-04-22</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Slutrapport</td>
					<td class="first">3002</td>
					<td class="centered">
						8,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2013-06-17</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Distribuerad nätverksdesign G2F</td>
					<td>DA558G</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">-</td>
					<td class="centered nowrap">-</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Tentamen                                                    </td>
					<td class="first">1001</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">U</td>
					<td class="centered nowrap">2012-05-29</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Laboration                                                  </td>
					<td class="first">2001</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2012-03-20</td>
					<td class="centered">&nbsp;</td>
				</tr>

			</tbody>

			<tfoot>
				<tr class="footer">
					<td colspan="6">&nbsp;</td>
				</tr>
				<tr class="sum">
					<td>Högskolepoäng totalt:</td>
					<td>&nbsp;</td>
					<td class="centered">	174,0
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div>
		<h4>Linköpings universitet</h4>
	</div>

	<div class="table_wrapper">
		<table>
			<thead>
				<tr class="heading">
					<th class="col1">Kurs</th>
					<th>Kurskod</th>
					<th class="centered">Poäng</th>
					<th class="centered">Betyg</th>
					<th class="centered">Datum</th>
					<th class="centered nowrap">Poänggivande
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class=" haschild">
					<td>Designmönster</td>
					<td>TDDB84</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2013-10-25</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Laborationer                                                </td>
					<td class="first">LAB1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2013-10-23</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Skriftlig tentamen                                          </td>
					<td class="first">TEN1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2013-10-25</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Konstruktion och analys av algoritmer</td>
					<td>TDDD20</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2013-11-01</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2013-11-01</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>AI-programmering</td>
					<td>TDDD10</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2014-01-17</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Laborationer                                                </td>
					<td class="first">LAB1</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2014-01-17</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Programmering av parallelldatorer - metoder och verktyg</td>
					<td>TDDC78</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2014-06-02</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Laborationskurs</td>
					<td class="first">LAB1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2014-05-31</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2014-06-02</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Kryptoteknik</td>
					<td>TSIT03</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2014-10-29</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Laborationsuppgift</td>
					<td class="first">LAB1</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2014-10-29</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN2</td>
					<td class="centered">
						4,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2014-10-29</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Design och programmering av datorspel</td>
					<td>TDDD23</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2014-10-31</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Projekt</td>
					<td class="first">PRA2</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2014-10-31</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Avancerad programmering i C++</td>
					<td>TDDD38</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2015-01-15</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Datortentamen</td>
					<td class="first">DAT1</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2015-01-15</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Sannolikhetslära och statistik, grundkurs</td>
					<td>TAMS11</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2015-03-02</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TENB</td>
					<td class="centered">
						5,0
					</td>
					<td class="centered">4</td>
					<td class="centered nowrap">2015-01-12</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Inlämningsuppgift</td>
					<td class="first">UPGA</td>
					<td class="centered">
						1,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2015-03-02</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Data Mining - Clustering and Association Analysis</td>
					<td>TDDD41</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-03-18</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Laborationskurs</td>
					<td class="first">LAB1</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2014-04-02</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						4,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-03-18</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Neuronnät och lärande system</td>
					<td>TBMI26</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-03-19</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Laborationskurs</td>
					<td class="first">LAB1</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2014-04-02</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						4,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-03-19</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Programvarutestning</td>
					<td>TDDD04</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-06-03</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Laborationskurs</td>
					<td class="first">LAB1</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2014-06-05</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						4,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-06-03</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Automatisk planering</td>
					<td>TDDD48</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-06-05</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Laborationsuppgifter</td>
					<td class="first">LAB1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2015-06-03</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-06-05</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Kompilatorkonstruktion</td>
					<td>TDDB44</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-11-05</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Laboration</td>
					<td class="first">LAB1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2015-11-05</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2014-04-23</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Logikprogrammering</td>
					<td>TDDD08</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-11-16</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Laborationskurs</td>
					<td class="first">LAB1</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2015-11-16</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Skriftlig tentamen</td>
					<td class="first">TEN1</td>
					<td class="centered">
						4,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2015-10-23</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Multicore- och GPU-Programmering</td>
					<td>TDDD56</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2016-01-14</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Datorlabbar</td>
					<td class="first">LAB1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2016-01-11</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Skriftlig examination</td>
					<td class="first">TEN1</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">3</td>
					<td class="centered nowrap">2016-01-14</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Vetenskaplig metod</td>
					<td>TDDD89</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2016-01-15</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Inlämningsuppgifter</td>
					<td class="first">UPG1</td>
					<td class="centered">
						4,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2016-01-14</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Seminarier</td>
					<td class="first">UPG2</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2016-01-15</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class=" haschild">
					<td>Auskultation i examensarbete</td>
					<td>TEXMAS</td>
					<td class="centered">	0,0
					</td>
					<td class="centered">-</td>
					<td class="centered nowrap">-</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Auskultation i examensarbete                                </td>
					<td class="first">AUSK</td>
					<td class="centered">
						0,0
					</td>
					<td class="centered">D</td>
					<td class="centered nowrap">2015-02-06</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Opponering                                                  </td>
					<td class="first">OPPO</td>
					<td class="centered">
						0,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2015-09-18</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow ">
					<td>Examensarbete</td>
					<td>TQDV30</td>
					<td class="centered">	30,0
					</td>
					<td class="centered">-</td>
					<td class="centered nowrap">-</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" ">
					<td>Realtidssystem<sup><a href='#section1'><i>1</i></a></sup></td>
					<td>TDDD07</td>
					<td class="centered">	6,0
					</td>
					<td class="centered">-</td>
					<td class="centered nowrap">-</td>
					<td class="centered">
						Ja											</td>
				</tr>
			</tbody>

			<tfoot>
				<tr class="footer">
					<td colspan="6">&nbsp;</td>
				</tr>
				<tr class="sum">
					<td>Högskolepoäng totalt:</td>
					<td>&nbsp;</td>
					<td class="centered">	96,0
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div>
		<h4>Malmö universitet</h4>
	</div>

	<div class="table_wrapper">
		<table>
			<thead>
				<tr class="heading">
					<th class="col1">Kurs</th>
					<th>Kurskod</th>
					<th class="centered">Poäng</th>
					<th class="centered">Betyg</th>
					<th class="centered">Datum</th>
					<th class="centered nowrap">Poänggivande
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class=" haschild">
					<td>Spelutveckling</td>
					<td>DA115A</td>
					<td class="centered">	30,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-01-21</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Spelanalys</td>
					<td class="first">0901</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2009-12-01</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Designuppgift 1</td>
					<td class="first">0902</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2009-12-01</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Designuppgift 2</td>
					<td class="first">0903</td>
					<td class="centered">
						6,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2009-12-01</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Grafik: Övningar</td>
					<td class="first">0904</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2009-12-01</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Implementering: Övningar</td>
					<td class="first">0905</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2009-12-01</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Spelproduktion</td>
					<td class="first">0906</td>
					<td class="centered">
						4,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2009-12-01</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Spelutvecklingsprojekt: Del 1</td>
					<td class="first">0907</td>
					<td class="centered">
						3,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2009-12-18</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Spelutvecklingsprojekt: Del 2</td>
					<td class="first">0908</td>
					<td class="centered">
						4,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-01-21</td>
					<td class="centered">&nbsp;</td>
				</tr>

				<tr class="oddrow haschild">
					<td>Spelprogrammering</td>
					<td>DA116A</td>
					<td class="centered">	30,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-06-14</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Programmering: Del 1</td>
					<td class="first">0801</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-06-14</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Programmering: Del 2</td>
					<td class="first">0802</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-06-14</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Datorgrafik: Del 1</td>
					<td class="first">0803</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-06-14</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class="oddrow subcontent">
					<td class="first">Datorgrafik: Del 2</td>
					<td class="first">0804</td>
					<td class="centered">
						7,5
					</td>
					<td class="centered">VG</td>
					<td class="centered nowrap">2010-06-14</td>
					<td class="centered">&nbsp;</td>
				</tr>

			</tbody>

			<tfoot>
				<tr class="footer">
					<td colspan="6">&nbsp;</td>
				</tr>
				<tr class="sum">
					<td>Högskolepoäng totalt:</td>
					<td>&nbsp;</td>
					<td class="centered">	60,0
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
	<div>
		<h4>Uppsala universitet</h4>
		(not sure when this became Uppsala uni, it used to be Gotland uni...)
	</div>

	<div class="table_wrapper">
		<table>
			<thead>
				<tr class="heading">
					<th class="col1">Kurs</th>
					<th>Kurskod</th>
					<th class="centered">Poäng</th>
					<th class="centered">Betyg</th>
					<th class="centered">Datum</th>
					<th class="centered nowrap">Poänggivande
					</th>
				</tr>
			</thead>
			<tbody>
				<tr class=" haschild">
					<td>Programmering med C++</td>
					<td>HG2590</td>
					<td class="centered">	7,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-10-26</td>
					<td class="centered">
						Ja											</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Grunderna i C++                                             </td>
					<td class="first">0011</td>
					<td class="centered">
						1,0
					</td>
					<td class="centered">VG</td>
					<td class="centered nowrap">2010-08-19</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Kontrollsatser                                              </td>
					<td class="first">0020</td>
					<td class="centered">
						1,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-08-19</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Introduktion till klasser                                   </td>
					<td class="first">0030</td>
					<td class="centered">
						1,5
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-08-19</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Objektorientering                                           </td>
					<td class="first">0040</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-08-19</td>
					<td class="centered">&nbsp;</td>
				</tr>
				<tr class=" subcontent">
					<td class="first">Filhantering och felhantering                               </td>
					<td class="first">0050</td>
					<td class="centered">
						2,0
					</td>
					<td class="centered">G</td>
					<td class="centered nowrap">2010-10-26</td>
					<td class="centered">&nbsp;</td>
				</tr>

			</tbody>

			<tfoot>
				<tr class="footer">
					<td colspan="6">&nbsp;</td>
				</tr>
				<tr class="sum">
					<td>Högskolepoäng totalt:</td>
					<td>&nbsp;</td>
					<td class="centered">	7,5
					</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

</div>
<p id="section1">[1] I accidentally signed up for the course. To deregister I had to
fill out a form online. The form was messed up. E.g. e-mail expected a number. Once
I hade filled it in to the best of my abilites, I was told the form was wrong and
had to redo the entire thing. At that point I was too frustrated to do it all over
again.</p>
</div>
