<div>
	<h2>Perl</h2>
	<p>
	A programming language with the motto <q>There's more than one way to do it</q>.
	</p>
	<p>
	Which certainly applies to Perl. It might not always result in the best or most readable solution, but it is a possible solution.
	This is turn is what makes Perl enjoyable to read and write. You never know what you will stumble upon.
	It is like poetry. 
	</p>
	<p>
	Being like poetry means you should also approach it as such.
	In all programming languages you will, eventually, pull your hair wonder what idiot wrote this code. 
	Could have been you, could have been an even bigger idiot (imagine that!). 
	The point is you should lean back, get a cup of your favourite beverage (like tea), perhaps even take a short walk first, breathe some fresh air and ponder life. 
	Then you can go ahead and read it calmly.
	Understand its flow. Do not struggle against the flow. 
	Become the one with the code and apply the change.
	</p>
	<p>
	Perl is like water and will flow around wherever you decide to put the stones.
	</p>
	<p>
	Just remember it is an old language with plenty of little quirks. 
	Is it the best? Maybe not.
	Is it the comfiest? Yeah.
	</p>
</div>
